.main-item-menu {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
    cursor: pointer;
}

.main-item-menu-active {
    background-position: 100% 100%;
    background-size: 100% 2px;
}

.main-item-menu:hover {
    background-position: 100% 100%;
    /*OR bottom right*/
    background-size: 100% 2px;
}

.guess-icon {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s !important;
    color: white;
}

.guess-icon:hover {
    opacity: 1;
}